

.home-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), #00000099), url('/public/pet4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}

.left-image img{
    box-shadow: 0 4px 8px rgba(61, 61, 61, 0.7), 0 6px 20px rgba(77, 77, 77, 0.7);
    height:px;
    width: 600px;
    border-radius: 10px;
    display: block;
    max-width: 100%;
    height: auto;
    border: 2px solid white;
    padding: 10px;
}

@media (max-width:475px) {
    .main-text{
        font-size: 30px;
    }

    .sub-text{
        font-size: 18px;
    }

    .btn{
        width: 150px;
    }

    .btn div{
        padding-left:10px;
        padding-right:10px;
        font-size: 16px;
    }
}



