@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&family=Righteous&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  background: black;
  font-family: "Space Grotesk",sans-serif;
  font-weight: 400;
}

.righteous{
  font-family: "Righteous",sans-serif;
  font-weight: bolder;
}